/* Global Page Styling */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f2f4f7;
    color: #222;
}



/* ============================ */
/* Header Section */
/* ============================ */
header {
    text-align: center;
    color: white;
    padding: 40px;
   
    background: grey;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    padding: 60px ;
    text-decoration-color: yellow;
    height: 60px;
    width: auto;
    border-radius: 50px;
    font-size: larger;
    margin-top: 40px;
}

header a.github-link {
    display: inline-block;
    margin-top: 10px;
    color: white;
    font-size: 18px;
    text-decoration: none;
    font-weight: bold;
    margin-bottom: 20px;
}

header a.github-link:hover {
    text-decoration: bold underline;
    color: white;
}

/* ============================ */
/* Section Styling */
/* ============================ */
section {
    width: 80%;
    margin: 40px auto;
}

h2 {
    color: #004aad;
    margin-bottom: 10px;
}

/* ============================ */
/* Skills List Styling */
/* ============================ */
#skills ul {
    list-style-type: square;
    padding-left: 20px;
    font-size: 18px;
}

/* ============================ */
/* Projects Section (Grid Layout) */
/* ============================ */
.project-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    margin-top: 20px;
}

.project-card {
    background: goldenrod;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    text-align: center;
}
.project-card:hover {
    box-shadow: 0 6px 15px rgba(0,0,0,0.2);
    transform: translateY(-5px);
    transition: all 0.3s ease;
}

.project-card img {
    width: 100%;
    border-radius: 8px;
    margin-bottom: 10px;
}

.project-card h3 {
    margin-top: 10px;
    color: #333;
}

.project-card p {
    font-size: 16px;
}
